/*font-family: 'Alice', serif;
font-family: 'Charm', cursive;*/

/*Body*/
body {
    background-color: rgba(128, 128, 128, 0.945);
    background-image:url(../img/pinkskyocean.jpg);
    background-size:cover;
    border: 3px none;
}
/*Heading*/
.heading {
    width: 97%;
    height: 120px;
    background-color: white;
    background-image:url(../img/pastel-beach-long.jpg);
    Background-size:cover;
    border: none;
    border-color: black;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 1%;
    text-align: center;
    padding-top: 25px;
    color: rgb(148, 173, 240);
    text-shadow: 2px 2px 4px #000000;
    font-size: 75px;
    font-family: 'Alice', serif;
}
/*Navigation Bar*/
.coconutlogo {
    float: left;
    overflow: hidden;
}
.row {
    margin: 0;
    font-family: 'Charm', cursive;
    font-weight: light;
    font-size: x-large;
}    
.topnav a {
    display:flex;
    color: #74f59a93;
    text-align: center;
    padding-left: 28px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Alice', serif;
}
.topnav a.logo {
  height: 1px;
  vertical-align: middle;
}
.navbar {
    width: 97%;
    height: 75px;
    background-color: white;  
    border-color: black;
    margin-bottom: 10px;
    margin-left: 1%;
    text-align: center;
}
/* Two-Columns*/
* {
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
.landscape {
    width: 340px;
    height: 260px;
    float: left;
    padding: 10px;
}
.portrait {
    width: 300px;
    height: 400px;
    float: left;
    padding: 10px;
}
.columnWide {
    float: left;
    width: 55%;
    height: 450px;
    padding: 20px;
    margin-bottom: 50px;
}  
.columnNarrow {
    float: left;
    width: 45%;
    height: 450px;
    padding: 20px;
}  
.lastColumnWide {
    float: left;
    width: 55%;
    height: 450px;
    padding: 20px;
}  
.lastColumnNarrow {
    float: left;
    width: 45%;
    height: 450px;
    padding: 20px;
}  
h2 {
    color:rgb(255, 255, 255);
}
p {
    color:rgb(255, 255, 255);
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
h2 {
    text-align: center;
}
/*Footer*/
.footer {
    width: 97%;
    height: 120px;
    background-color: rgb(255, 255, 255);
    border: none;  
    border-color: none;
    margin-left: 1%;
    margin-bottom: 10px;
    clear: both;
    text-align: center;
    padding-top: 15px;
    position: bottom;
    /* bottom: 0;
    position: fixed; */
}
.shadow {
    box-shadow: 5px 10px 20px rgb(240, 188, 227) inset;
}
.text {
    color: black;
    text-shadow: 2px 2px 4px #000000;
    font-size: 25px;
}
.textFloat {
    float: left;
    padding-left: 15%;
    color:rgb(110, 188, 240);
}
.logo{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
ul {
    float: left;
}
li {
    float: left;
    list-style-type: none;
    align-items: center;
    padding-left: 110px;
}
/* unvisited link */
a:link {
    color: rgb(110, 188, 240);
  }
  
  /* visited link */
  a:visited {
    color: rgb(110, 188, 240);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(116, 236, 176);
  }
  
  /* selected link */
  a:active {
    color: rgb(232, 177, 248);
  }
.sticky {
position:-webkit-sticky;
position: sticky;
top: 20px;
}
.clear {
    width: 100%;
    height: 80px;
    clear: both;
}
.video {
    padding-left: 100px;
}
.footerText {
    width: 100%;
    height: 60px;
}
.footerIcons {
    /* Use this class to create a horizontal div box within the footer to contain footer social media icons*/
}
.textFloat {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    float: left;
    font-weight: bolder;
    padding-left: 15%;
    color:rgb(8, 112, 182);
}
.fa-brands {
    width: 80px;
    height: 80px;
    color: rgb(148, 173, 240);
    text-decoration: none;
}
.footerClear {
    clear: both;
}