/*font-family: 'Alice', serif;
font-family: 'Charm', cursive;*/

body {
  background-color: rgba(248, 244, 244, 0.945);
  background-image:url(../img/pastel-palms.jpg);
  background-size:cover;
  border: 3px none;
}
.heading {
  width: 97%;
  height: 100px;
  background-color: white;
  background-image:url(../img/pastel-beach-long.jpg);
  Background-size:cover;
  border: none;
  border-color: black;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 1%;
  text-align: center;
  padding-top: 25px;
  color: rgb(148, 173, 240);
  text-shadow: 2px 2px 4px #000000;
  font-size: 75px;
  font-family: 'Alice', serif;
}
.coconutlogo {
    float: left;
    overflow: hidden;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}    
.topnav a {
  display:flex;
  color: #74f59a93;
  text-align: center;
  padding-left: 28px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Alice', serif;
}
.topnav a.logo {
  height: 1px;
  vertical-align: middle;
}
.navbar {
  width: 97%;
  height: 75px;
  background-color: white;  
  border-color: black;
  margin-bottom: 10px;
  margin-left: 1%;
  text-align: center;
}

.footer {
  width: 97%;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border: none;  
  border-color: none;
  margin-left: 1%;
  margin-bottom: 10px;
  clear: both;
  text-align: center;
  padding-top: 15px;
  position: bottom;
  /* bottom: 0;
  position: fixed; */
}
.shadow {
    box-shadow: 5px 10px 20px rgb(240, 188, 227) inset;
}
.text {
    color: black;
    font-size: 25px;
    /*
    text-shadow: 2px 2px 4px #000000;
    */
}
.logo{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
ul {
    float: left;
}
li {
    float: left;
    list-style-type: none;
    align-items: center;
    padding-left: 110px;
}
/* unvisited link */
a:link {
    color: rgb(110, 188, 240);
  }
  
  /* visited link */
  a:visited {
    color: rgb(110, 188, 240);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(116, 236, 176);
  }
  
  /* selected link */
  a:active {
    color: rgb(232, 177, 248);
  }
.sticky {
position:-webkit-sticky;
position: sticky;
top: 20px;
}

/* Contact Form Style */
/* body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}*/

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  background-color: rgba(165, 192, 241, 0.548);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(148, 173, 240);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  width: 50%;
  border-radius: 5px;
  background-color: rgb(240, 188, 227) inset;
  padding: 20px;
  float: left;
  margin: 10px;
}
.textBox {
    width: 35%;
    margin: 32px;
    float: left;
}
h3 {
    padding-left: 25px;
}
.paragraph {
  color: rgb(110, 188, 240);
  font-family: 'Charm', cursive;
  font-weight: lighter;
  font-size: x-large;
}
.footerText {
  width: 100%;
  height: 60px;
}
.footerIcons {
  /* Use this class to create a horizontal div box within the footer to contain footer social media icons*/
}
.textFloat {
  float: left;
  padding-left: 15%;
  color:rgb(8, 112, 182);
}
.clear {
  clear: both;
}
.fa-brands {
  width: 80px;
  height: 80px;
  color: rgb(148, 173, 240);
  text-decoration: none;
}
